<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css"></link>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>
                    Welcome to <%=title%>
                </h1>
            </div>
            <div class="row">
                <ul class="nav">
                    <%for(var i=0; i<nav.length; i++) {%>
                        <li class="nav-item">
                            <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%></a>
                        </li>
                    <%}%>
                </ul>
            </div>
            <div class="row">
                <br/>
                <div class="col-md-2 col-sm-3 text-center">
                    <a class="story-title" href='#'>
                        <img src='<%=book.details.image_url%>' style='width: 100px; height: 100px;'>
                    </a>
                </div>
                <div class="col-md-10 col-sm-9">
                    <h3><%=book.title%></h3>
                    <div class="row">
                        <div class="col-xs-9">
                            <span class="badge badge-secondary"><%=book.author%></span>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>
                    <br/>
                    <%=book.details.description%>

                </div>
                <!-- <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="row">
                            <a class="nav-link" href="/books/<%=book._id%>"><%=book.title%></a> 
                            <span class="badge badge-secondary"><%=book.author%></span>
                            <br/> 
                            <span><%=book.details.description%></span>
                        </div>
                    </li>
                </ul> -->
            </div>
        </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>